$table-row-h: 32px;

.table {
  // display: flex;
  flex: 1 1 auto;
  //   flex-direction: column;
  // gap: 0.5em;
  // padding: 0.5em;

  //   & > :first-child {
  //     flex: 1 1 auto;
  //     background-color: rgb(83, 189, 97);
  //     //   min-width: $menu-icon-w * 4;
  //     //   max-width: $menu-icon-w * 4;
  //   }
}

.row {
  display: flex;
  height: $table-row-h;
  //   flex: 1 1 auto;
  gap: 4px;
  // height: 28px;
  border-bottom: 1px solid yellow;
  // padding: 0.5em;
  // margin-left: 0.5em;

  //   & > :first-child {
  //     flex: 1 1 auto;
  //     background-color: rgb(83, 189, 97);
  //     //   min-width: $menu-icon-w * 4;
  //     //   max-width: $menu-icon-w * 4;
  //   }
  &-selected {
    background-color: rgb(83, 189, 97);
  }
}

.column {
  // padding: 0 0.5em 0 0.5em;
  display: flex;
  align-items: center;
  flex: 1 1 0px;
  // min-width: 0px;
  border: 1px dotted yellow;
  overflow: hidden;
  white-space: nowrap;

  &-selected {
    background-color: rgb(92, 179, 219);
  }

  input {
    width: 100%;
  }
}

// .cell {

// }
