$bckGnd: #27272a;

.App {
  height: 100vh;
  background-color: $bckGnd;
  color: white;
}

.tree {
  margin-left: 0;
  padding: 1em;
  list-style: none;

  // &::before {
  //   border: none;
  // }

  // &:first-child > li {
  //   padding: 0;
  // }

  &:first-child > li::before {
    border: none;
  }

  div {
    border: 1px solid brown;
  }

  ul {
    list-style: none;
    position: relative;
    margin-left: 1em;

    &::before {
      border-left: 1px solid;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      width: 1em;
    }

    li {
      padding: 1.5em 0 0 2em;
      position: relative;

      &::before {
        border-top: 1px solid;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        margin-top: 0.6em;
        position: absolute;
        width: 2em;
      }

      &:last-child::before {
        background: blue;
        bottom: 0;
        height: auto;
        top: 1.5em;
      }
    }
  }
}

// ul {
//   list-style: none;
//   position: relative;
//   margin-left: 1em;

//   &::before {
//     border-left: 1px solid;
//     content: "";
//     display: block;
//     height: 100%;
//     left: 0;
//     position: absolute;
//     width: 1em;
//   }

//   li {
//     padding: 1.5em 0 0 2em;
//     position: relative;

//     &::before {
//       border-top: 1px solid;
//       content: "";
//       display: block;
//       height: 100%;
//       left: 0;
//       margin-top: 0.6em;
//       position: absolute;
//       width: 2em;
//     }

//     &:last-child::before {
//       background: blue;
//       bottom: 0;
//       height: auto;
//       top: 1.5em;
//     }
//   }
// }
